@media (min-width: 600px) {
  #title {grid-area: 1 / span 6;}
  #list {grid-area: 2 / span 2}
}

#title {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 49px;
  background-color: black;
  color:white;
}

.intro {
  display:inline-block;
  text-align:center;
}

#list {
  font-family: Arial, Helvetica, sans-serif;
  border-color: black;
  border-style: solid;
  border-radius:1px;
  font-size: 20px;
  padding-right: 10px;
  text-align:left;
}

#desc {
  font-family: Arial, Helvetica, sans-serif;
  font-size:18px;
  border-style: solid;
  width: 250px;
  height: 100px;
  margin: 5px;
  content:border-box;
}